* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: .2fr 1.2fr / .3fr 1.7fr;
    grid-template-areas: 
        "dashboard header"
        "dashboard main";
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
img {
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(165, 165, 232);
    border-radius: 2rem;
    height: 32px;
    width: auto;
}

ul {
    list-style: none;
}
.dashboard {
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(73, 77, 95);
    color: rgb(229, 234, 245);
}
h1 {
    font-size: 2.5rem;
    margin-left: 10%;
}
.basic-nav, .settings-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.7rem;

}
.search-bar {
    height: 100%;
    display: grid;
    grid-template: 1fr 1.7fr / 1fr .5fr;
    padding: 0 5%;
}
.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.profile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    
}
.welcome-msg {
    padding-top:10px;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.content-msg {
    display: flex;
    flex-direction: column;
}
.username-handle, .username {
    font-size: 2rem;
}
input {
    width: 70%;
    height: 50%;
    border: 2px solid rgb(73, 77, 95);
    border-radius: 2rem;
}
.content-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    text-align: center;
    height: 35px;
    max-height: 40px;
    min-width: 100px;
    border: 2px solid rgb(73, 77, 95);
    border-radius: 1.5rem;
    background: rgb(229, 234, 245);
    color: black;

}
header {
    grid-area: header;
    background-color: rgb(160, 210, 235);
    color: black;
    box-shadow: 0 4px 3px -2px gray
}
main {
    display: grid;
    grid-area: main;
    grid-template: 1fr / 1.5fr 0.5fr;
    grid-template-areas:
        "project-container announcements-trending-container";
    padding: 0 5%;
}
.project-container {
    grid-area: project-container;
    display: grid;
    grid-template: .2fr 1fr 1fr 1fr/ 1fr 1fr;
    grid-template-areas: 
        "project-header project-header"
        "project-item project-item"
        "project-item project-item";
    grid-gap: 1.5rem;
}
.announcements-trending-container {
    grid-area: announcements-trending-container;
    display: grid;
    grid-template: 1.2fr 0.8fr / 1fr;
    grid-template-areas: 
        "announcements"
        "trending"
}
h2 {
    font-size: 1.9rem;
}
h3 {
    font-size: 1.7rem;
}
.project-item {
    border: 3px solid black;
    border-radius: 1.5rem;
    width: 375px;
    height: 200px;
    display: flex;
    gap:1rem;
    flex-direction: column;
    padding: 10px;
    font-size: 1.2rem;
    box-shadow: 2px 7px 3px -2px gray;
    background-color: rgb(215, 215, 232);
    color: black;
}
.item-actions {
    align-self: flex-end;
}
.project-header {
    grid-area: project-header;
}
.announcements-trending-container  h2 {
    padding-left: 10px;
}
.announcements {
    grid-area: announcements;
    display: grid;
    grid-template: .2fr 1fr 1fr 1fr / 1fr;
}
.announcement-item {
    
    padding: 10px;
    border-bottom: 2px solid rgb(215, 215, 232);

}
.trending {
    grid-area: trending;
    display: grid;
    grid-template: .2fr 1fr 1fr 1fr 1fr / 1fr;
}
.trending-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
/* Interactivity */
button:hover {
    border: 2px solid #8458B3;
}
.project-item:hover, button:hover {
    cursor: pointer;
}
.project-item:hover {
    box-shadow: 2px 7px 3px -2px #8458B3;
    height: 205px;
    width: 380px;
}
li:hover{
    color: #8458B3;
    font-size: 2rem;
}
.announcement-item:hover{
    background-color: rgb(215, 215, 232);
}